body{
	
	background-image: url(backgroundImageV.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}
	

#text{
	text-align: center;
}


