body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#life-counter {
    color: red;
    position: fixed;
    top: 10px;
    left: 10px;
}

#audio-icons {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}


