body{
	
	background-image: url(backgroundImageV.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	
	
}
	
	#life-counter{
		color: red;
		position: absolute;
		top: 20px;
		left: 20px;
	}
	
	#text{
		text-align: center;
	}
	
	#buttons{
		text-align: center;
	}
	
	#audio-icons{
		position: absolute;
		top: 20px;
		right: 20px;
		
	
	}
