body{
	
	background-image: url(backgroundImageV.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}
	
#heart-1{
	color:red;
}

#heart-2{
	color:red;
}

#heart-3{
	color:red;
}

#text{
	text-align: center;
}

#buttons{
	text-align: center;
}